/* Header */

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.header-brand{
    width: 160px;
}
.header-nav{
    display: flex;
    gap: 24px;
}
.header-nav-item{
    color: var(--negro);
    padding: 12px 8px;
}
.header-nav-item:hover {
    color: var(--naranja);
}
.header-nav-bottom{
    color: var(--blanco);
    font-weight: 800;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: var(--naranja-oscuro)
}
.header-nav-bottom:hover {
    background-color: var(--naranja-pastel);
}