/* Header */

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.header-brand{
    width: 160px;
}
.header-nav{
    display: flex;
    gap: 24px;
}
.header-nav-item{
    color: var(--negro);
    padding: 12px 8px;
}
.header-nav-item:hover {
    color: var(--naranja);
}
.header-nav-bottom{
    color: var(--blanco);
    font-weight: 800;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: var(--naranja-oscuro)
}
.header-nav-bottom:hover {
    background-color: var(--naranja-pastel);
}

/* Hero */

.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: chartreuse; */
}
.hero-wrapper{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: brown; */
}
.hero-content{
    padding: 24px;
   /*  background-color: darkcyan; */
    display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
    color: var(--naranja);
    margin-bottom: 24px;
    /* background-color:hotpink; */
}
.hero-paragraph{
    font-size: 19px;
    line-height: 24px;
    color: var(--negro);
    margin-bottom: 24px;
    /* background-color: coral; */
}
.hero-button{
    width: fit-content;
    color: var(--blanco);
    font-weight: 900;
    padding: 12px 24px;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--naranja-oscuro)
}
.hero-button:hover {
    background-color: var(--naranja-pastel);
}
.hero-profile{
    /* background-color: magenta; */
    display: flex;
	justify-content: center;
	padding: 24px;
}
.hero-image{
    width: 90%;
    border-radius: 50%;
    /* background-color: orange; */
}

/* Main */

.main{
    display: flex;
    justify-content: center;
  /*   background-color: aqua; */
}

.main-wrapper{
    width: 100%;
    max-width: 1200px;
/*     background-color: yellowgreen; */
}

.services{
    /* background-color: blue; */
}

.service-content{
    max-width: 600px;
    margin-bottom: 32px;
   /*  background-color: slateblue; */
}

.service-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
    color: var(--naranja);

}

.service-paragraph{
    font-size: 20px;
    line-height: 30px;
    color: var(--negro);

}

.service-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    /* background-color: red; */
}

.service-item{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    text-align: center;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 0 10px rgb(255, 200, 176);
}

.service-image {
    align-self: center;
    max-width: 180px;
}

.services-subtitle {
    font-size: 32px;
    font-weight: 900;
    color: var(--naranja);
}

.service-description{
    font-size: 18px;
    line-height: 30px;
    hyphens: none;
}